---

import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";

import Card from "../components/Card.astro";
import Galleryforside from "../components/Galleryforside.astro";
import Filterknap from "../components/Filterknap.astro";
import Footer from "../components/Footer.astro";

const data = await fetch("https://mgkdbxdslaiqhcembkpj.supabase.co/rest/v1/clf-data", {
	method:"GET",
	headers: {
apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1na2RieGRzbGFpcWhjZW1ia3BqIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTY0OTc0ODEsImV4cCI6MjAxMjA3MzQ4MX0.rbz9t9VumdMppOR6Sloxn0K8RWFp59mV-R-vwmUVq_I"
	},
}
).then(res=>res.json());



console.log(data);


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
       
	
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        
		<meta name="generator" content={Astro.generator} />
		<title>Menu</title>
	</head>
	<body>
		<Header />
		<Galleryforside />
		<section class="filterknap">
		<Filterknap header="Indreby" />
		<Filterknap header=" København K" />
		<Filterknap header="Amager" />
		<Filterknap header="Vesterbro" />
	
	
		</section>
		<section class="cardgrid">
			{
				data.map((show) => {
					return <Card data={show} />
				})
			}
        
		

		
		</section>

        







	<Footer />
	
	</body>
</html>

<style>
	* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

body,
html {
  height: 100%;
  margin: 0;
  background: rgb(18, 18, 18);
}
	body {
	

	}
	:root {
  --glow-color: #FBF29D;
}

.cardgrid {
	display: grid;
	     grid-template-columns: repeat(auto-fill, 275px);
     gap: 3.6rem;
	 justify-content: center;
}
.filterknap {
		display: grid;
	   grid-template-columns: 1fr 1fr 1fr 1fr;
     gap: 3.6rem;
	 justify-content: center;
	 align-items: center;
	 padding: 4rem;

}

@media (max-width: 937px) {
	.filterknap {
		display: grid;
		grid-template-columns: 1fr 1fr;
	   
     gap: 3.6rem;
	 justify-content: center;
	 align-items: center;
	 padding: 4rem;

}
	
}












</style>