---

import Kort from "../components/Kort.astro";



import Header from "../components/Header.astro";
import Animation from "../components/Animation.astro";
import Video from "../components/Video.astro";
import Countdown from "../components/Countdown.astro";
import Footer from "../components/Footer.astro";
const data = await fetch("https://mgkdbxdslaiqhcembkpj.supabase.co/rest/v1/clf-data", {
	method:"GET",
	headers: {
apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1na2RieGRzbGFpcWhjZW1ia3BqIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTY0OTc0ODEsImV4cCI6MjAxMjA3MzQ4MX0.rbz9t9VumdMppOR6Sloxn0K8RWFp59mV-R-vwmUVq_I"
	},
}
).then(res=>res.json());

console.log(data);
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<script src="https://unpkg.com/scrollreveal"></script>
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />


<Animation />
<section class="kort">
<Kort />
</section>
<section class="video">
<Video />
</section>

<Countdown />
<Footer />




	
	</body>
</html>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

body,
html {
	overflow-x: hidden;
  height: 100%;
  margin: 0;
  background-color: black;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(11,16,38,1) 27%, rgba(0,0,0,1) 100%); 
}

	body {
 background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(11,16,38,1) 27%, rgba(0,0,0,1) 100%); 
		
	}
	:root {
  --glow-color: #FBF29D;
	}


</style>
