---
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
import Single from "../components/Single.astro";
import Footer from "../components/Footer.astro";
const data = await fetch("https://mgkdbxdslaiqhcembkpj.supabase.co/rest/v1/clf-data", {
	method:"GET",
	headers: {
apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1na2RieGRzbGFpcWhjZW1ia3BqIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTY0OTc0ODEsImV4cCI6MjAxMjA3MzQ4MX0.rbz9t9VumdMppOR6Sloxn0K8RWFp59mV-R-vwmUVq_I"
	},
}
).then(res=>res.json());

console.log(data);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
       
		<script src="https://unpkg.com/scrollreveal"></script>
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        
		<meta name="generator" content={Astro.generator} />
		<title>Menu</title>
	</head>
	<body>
		<Header />
        <Single />








	
	</body>
</html>

<style>
	* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

body,
html {
  height: 100%;
  margin: 0;
}
	body {
	 background: rgb(0,0,0);

	}
	:root {
  --glow-color: #FBF29D;
}
</style>