---

---
<body>
<main>
    <div class="about-image">
        <img src="../public/Knips.webp" alt="Lysinstallation ved Knippelsbro">
    </div>
    <div class="about-text">
<a>About</a>
<h1>COPENHAGEN LIGHT FESTIVAL</h1>
<h2>What is Copenhagen Light Festival?</h2>
<p>Copenhagen Light Festival is an annual light festival that transforms the quiet and cold winter darkness into a unique celebration of light art, lighting design and illumination in the center of Copenhagen.</p>
<p>In three weeks of February the festival presents a wide range of light based works – such as sculpture, installation, projection mapping, event and illumination created by both established and upcoming light artists, lighting designers, students and organizations.</p>
<p>With a tailored light program selected by a curatorial committee, the festival exhibits, accentuates and interprets the city’s different spaces,squares, facades, bridges and hidden places in a new and engaging way.</p>
<p>The majority of the light works are placed along a path in the inner city and the harbor, while a selection of art works that can be experienced in areas located outside of the city center.</p>
<p>The Festival invites both international and local audiences of all ages to enjoy the city during the darkest and even the coldest time of the year.</p>
</div>
<div class="button-container">
<button>Stay updated</button>
</div>
</main>
</body>

<style>
    body {
    background: linear-gradient(to bottom, #000000, #000F20);
    margin: 0;
    padding: 0;
}
main {
padding: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-shadow: 5px 3px 6px black;
}
.about-image {
    position: absolute;
    opacity: 0.35;
    max-width: 100%;
    height: auto;
    z-index: -1;
    }
    .about-text {
    text-align: center;
}
a {
    color: #FFDA00;
}
    h1 {
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    font-weight: 800;
    -webkit-text-stroke: 2px white; 
    color: transparent;
    padding-bottom: 10px;
}
h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    padding-bottom: 10px;
}
p {
    width: 750px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: left;
    line-height: 1.75rem;
}
.button-container {
    margin-top: 35px;
}
button {
    background-color: transparent;
    color: #FFDA00;
    padding: 15px 20px;
    border: 1px solid white;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
}
button:hover {
    color: black;
    background-color: #FFDA00;
    border: none;
}
img {
    max-width: 100%;
}
@media (max-width: 768px) {
    main {
        padding: 50px;
        padding-top: 75px;
        text-align: center;
    }
    a {
        font-size: .85rem; 
    }
     h1 {
        font-size: 2.5rem;
        -webkit-text-stroke: 1.5px white;
        padding-bottom: 25px;
    }
    h2 {
        font-size: 1.25rem;
        -webkit-text-stroke: 1.5px white;
    }
    p {
    width: 100%;
    padding: 10px;
    line-height: 1.5rem;
}
.button-container {
    margin-top: 27.5px;
}
button {
    padding: 12.5px 15px;
    font-size: .85rem;
}
}
</style>