---
import Kort from "../components/Kort.astro";
import Forside2 from "./Forside2.astro";
---




<div class="container">
    
    <div class="bubbles">
        <span style="--i:11"></span>
        <span style="--i:12"></span>
        <span style="--i:24"></span>
        <span style="--i:10"></span>
        <span style="--i:14"></span>
        <span style="--i:23"></span>
        <span style="--i:28"></span>
        <span style="--i:16"></span>
        <span style="--i:19"></span>
        <span style="--i:20"></span>
        <span style="--i:22"></span>
        <span style="--i:25"></span>
        <span style="--i:28"></span>
        <span style="--i:21"></span>
        <span style="--i:15"></span>
        <span style="--i:13"></span>
        <span style="--i:26"></span>
        <span style="--i:17"></span>
        <span style="--i:13"></span>
        <span style="--i:28"></span>
           <span style="--i:11"></span>
        <span style="--i:12"></span>
        <span style="--i:24"></span>
        <span style="--i:10"></span>
        <span style="--i:14"></span>
        <span style="--i:23"></span>
        <span style="--i:28"></span>
        <span style="--i:16"></span>
        <span style="--i:19"></span>
        <span style="--i:20"></span>
        <span style="--i:22"></span>
        <span style="--i:25"></span>
        <span style="--i:28"></span>
        <span style="--i:21"></span>
        <span style="--i:15"></span>
        <span style="--i:13"></span>
        <span style="--i:26"></span>
        <span style="--i:17"></span>
        <span style="--i:13"></span>
        <span style="--i:28"></span>
              <span style="--i:28"></span>
        <span style="--i:21"></span>
        <span style="--i:15"></span>
        <span style="--i:13"></span>
        <span style="--i:26"></span>
        <span style="--i:17"></span>
        <span style="--i:13"></span>
        <span style="--i:28"></span>
      
    </div>
    <Forside2 />
</div>

<style>
    .container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .bubbles {
        position: relative;
        display: flex;
    }

    .bubbles span {

        position: relative;
        width: 25px;
        height: 25px;
        background: #4fc3dc;
        margin: 0 4px;
        border-radius: 50%;
        box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
        animation: animate 16s linear infinite;
       
        animation-duration: calc(185s / var(--i));

        -webkit-animation: animate 15s linear infinite;
        -webkit-animation-duration: calc(185s / var(--i));
    }

    .bubbles span:nth-child(even) {
       background: var(--glow-color); 
       box-shadow: 0 0 0 10px var(--glow-color), 0 0 50px var(--glow-color), 0 0 100px var(--glow-color);
    }


    @keyframes animate
    {
        0%
        {
            transform: translateY(100vh) scale(0);
        }
        100% 
        {
            opacity: 0.45;
            transform: translateY(-10vh) scale(0.35);
        }
    }

       @-webkit-keyframes animate {
        0% {
            -webkit-transform: translateY(100vh) scale(0);
        }
        100% {
            -webkit-transform: translateY(-10vh) scale(0.35);
        }
    }

 </style>