---
import Click from "../components/Click.astro";

---
    <section>
    <div class="home-content">
      <div class="tekst">
            <h3>Experience the Magic of</h3>
            <h1>Copenhagen Light Festival</h1>
            <h2>Where Colorful Art Lights Up the City</h2>
            </div>
            <div class="knap">
            <Click />
            </div>
             </div>
             
        <div class="home-img">
            <img src="city.svg" alt="">
       
        </div>
        </section>

        <style>

            .knap {
                margin-top: 3.5rem;
                   display: flex;
    justify-content: center;
    align-items: center;
            
            }

section {
    height: 100vh;
    padding: 0rem 9% 2rem;
    display: flex;
    justify-content: center; /* Adjusted to evenly distribute content */
    align-items: center; /* Vertically center content */
    gap: 5rem;
}



.home-content h3,
.home-content h2,
.home-content h1 {
    font-size: 2.1rem;
    font-weight: 700;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-content h1 {
    font-size: 3.2rem;
    color: orange;
}






.home-img img {
  
    width: 35vw;
    animation: hover 4s ease-in-out infinite;
    margin-top: 0rem;
    border-radius: 0.45em;
    background: none;
    font-family: "Raleway", sans-serif;
    font-size: 1.3em;
    font-weight: 900;
    letter-spacing: 0.8em;
 
}

 img:hover {
   
   filter: brightness(135%);
}



@keyframes hover {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.2rem);
    }
    100% {
        transform: translateY(0);
    }
}


@media (max-width: 1400px) {
        .home-content h3,
.home-content h2,
.home-content h1 {
    font-size: 1.9rem;
    font-weight: 700;
    color: white;
    margin: 0;
       display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h1 {
    font-size: 2.7rem;
    color: orange;
}
}
@media (max-width: 1267px) {
        .home-content h3,
.home-content h2,
.home-content h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    margin: 0;
       display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h1 {
    font-size: 2.6rem;
    color: orange;
}
}


@media (max-width: 1000px) {
        .home-content h3,
.home-content h2,
.home-content h1
 {
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
    margin: 0;
       display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h1 {
    font-size: 2rem;
    color: orange;
}
}


@media (max-width: 953px) {
        .home-content h3,
.home-content h2,
.home-content h1
 {
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    margin: 0;
       display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h1 {
    font-size: 1.63rem;
    color: orange;
}
}


@media (max-width: 790px) {
    section {
        flex-direction: column-reverse;
        justify-content: center;
        gap:1.7rem;
       
    }
    .home-content h3,
.home-content h2,
.home-content h1 {
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
   text-align: center;
      
}


.home-content h1 {
    font-size: 2rem;
    color: orange;
}
.home-img img {
    width: 270px;
    animation: hover 4s ease-in-out infinite;
  
    font-weight: 900;

 
    filter: drop-shadow(0px 0px 0.5em 20px white);
}

.knap {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}



}



        </style>

        <script>




        </script>