<div class="container">
<h1 class="hero-title -letter-init" style="transform: translateY(0px);">
    <span class="hero-title-part" style="transform: scale(1);">
        <em>
            <span class="char" aria-hidden="true" data-index="0" data-char="p" style="opacity: 1;">P</span>
            <span class="char" aria-hidden="true" data-index="1" data-char="r" style="opacity: 1;">r</span>
            <span class="char" aria-hidden="true" data-index="2" data-char="e" style="opacity: 1;">e</span>
            <span class="char" aria-hidden="true" data-index="3" data-char="v" style="opacity: 1;">v</span>
            <span class="char" aria-hidden="true" data-index="4" data-char="i" style="opacity: 1;">i</span>
            <span class="char" aria-hidden="true" data-index="5" data-char="o" style="opacity: 1;">o</span>
            <span class="char" aria-hidden="true" data-index="6" data-char="u" style="opacity: 1;">u</span>
            <span class="char" aria-hidden="true" data-index="7" data-char="s" style="opacity: 1;">s</span>
            
        </em>
        <em>
            <span class="char" aria-hidden="true" data-index="0" data-char="p">p</span>
            <span class="char" aria-hidden="true" data-index="1" data-char="r">r</span>
            <span class="char" aria-hidden="true" data-index="2" data-char="e">e</span>
            <span class="char" aria-hidden="true" data-index="3" data-char="v">v</span>
            <span class="char" aria-hidden="true" data-index="4" data-char="i">i</span>
            <span class="char" aria-hidden="true" data-index="5" data-char="o">o</span>
            <span class="char" aria-hidden="true" data-index="6" data-char="u">u</span>
            <span class="char" aria-hidden="true" data-index="7" data-char="s">s</span>
        </em>
    </span>
    <span class="hero-title-part" style="transform: scale(1) translateX(0px);">
        <em>
            <span class="char" aria-hidden="true" data-index="0" data-char="F" style="opacity: 1;">F</span>
            <span class="char" aria-hidden="true" data-index="1" data-char="e" style="opacity: 1;">e</span>
            <span class="char" aria-hidden="true" data-index="2" data-char="s" style="opacity: 1;">s</span>
            <span class="char" aria-hidden="true" data-index="3" data-char="t" style="opacity: 1;">t</span>
            <span class="char" aria-hidden="true" data-index="4" data-char="i" style="opacity: 1;">i</span>
            <span class="char" aria-hidden="true" data-index="5" data-char="v" style="opacity: 1;">v</span>
            <span class="char" aria-hidden="true" data-index="6" data-char="a" style="opacity: 1;">a</span>
            <span class="char" aria-hidden="true" data-index="7" data-char="l" style="opacity: 1;">l</span>
            <span class="char" aria-hidden="true" data-index="8" data-char="s" style="opacity: 1;">s</span>
        </em>
        <em>
            <span class="char" aria-hidden="true" data-index="0" data-char="F">F</span>
            <span class="char" aria-hidden="true" data-index="1" data-char="e">e</span>
            <span class="char" aria-hidden="true" data-index="2" data-char="s">s</span>
            <span class="char" aria-hidden="true" data-index="3" data-char="t">t</span>
            <span class="char" aria-hidden="true" data-index="4" data-char="i">i</span>
            <span class="char" aria-hidden="true" data-index="5" data-char="v">v</span>
            <span class="char" aria-hidden="true" data-index="6" data-char="a">a</span>
            <span class="char" aria-hidden="true" data-index="7" data-char="l">l</span>
            <span class="char" aria-hidden="true" data-index="8" data-char="s">s</span>
        </em>
    </span>
    
</h1>
</div>

<style>
 
.hero-title {
  font-size:calc(10vw - 3.8px);
  font-weight:600;
  letter-spacing:-.07em;
  line-height:1;
  margin-bottom:.4em;
  margin-left: 0.5em;
  -webkit-user-select:none;
  user-select:none;
  white-space:nowrap
}
.hero-title-part {
  display:block;
  position:relative
}
.hero-title-part em {
  display:inline-block;
  font-style:inherit
}
.hero-title-part em:first-child {
  padding-right:.1em
 
}
.hero-title-part em:last-child {
  color:#FBF29D;
  left:0;
  position:absolute;
  top:0
}
.hero-title-part em:last-child span {
  display:inline-block;
  position:relative
}
.hero-title-part em:last-child span:after,
.hero-title-part em:last-child span:before {
  content:attr(data-char);
  left:0;
  opacity:0;
  pointer-events:none;
  position:absolute;
  top:0;
  transition-duration:.25s;
  transition-timing-function:cubic-bezier(.19,1,.22,1)
}
.hero-title-part em:last-child span:before {
  -webkit-text-stroke:5px #0f0d0d;
  color:#fd1057;
  transition-property: opacity;
}
.hero-title-part em:last-child span:after {
  -webkit-text-fill-color:transparent;
  background:linear-gradient(45deg, #ee8c8c 17%, #f9ffa5, #fbe094);
  -webkit-background-clip:text;
  background-clip:text;
  filter:drop-shadow(0 0 17px rgb(253,16,87));
  padding-right:.1em;
  transition-property:opacity,transform;
}
.hero-title-part:first-child em {
  transform:translateX(calc(var(--scroll-progress-small, 0)*-.1em))
}
.hero-title-part:first-child span:nth-child(2) {
  margin-left:-.005em
}
.hero-title-part:first-child span:nth-child(3) {
  margin-left:.01em
}
.hero-title-part:first-child span:nth-child(4) {
  margin-left:.016em
}
.hero-title-part:first-child span:nth-child(8) {
  margin-left:-.011em
}
.hero-title-part:last-child {
  margin-left:.92em;
  margin-top:-.23em
}
.hero-title-part:last-child em {
  transform:translateX(calc(var(--scroll-progress-small, 0)*.1em))
}
.hero-title-part:last-child span:nth-child(4) {
  margin-left:-.011em
}
.hero-title-part:last-child span:nth-child(7) {
  margin-left:-.005em
}
.hero-title-part:last-child span:nth-child(8) {
  margin-left:.02em
}
.hero-title.-letter-init .hero-title-part:last-child span:nth-child(5):after,
.hero-title.-letter-init .hero-title-part:last-child span:nth-child(5):before {
  transition-duration: .5s,2s
}
.hero-title.-letter-init .hero-title-part:last-child span:nth-child(5):before {
  opacity:1;
  transition-delay:.05s
}
.hero-title.-letter-init .hero-title-part:last-child span:nth-child(5):after {
  filter:none;
  opacity:1;
  transform:scale(1.05) rotate(7deg)
}
@media(hover:hover)and (pointer:fine) {
  .hero-title-part em:last-child span:hover {
    z-index:1
  }
  .hero-title-part em:last-child span:hover:before {
    opacity:1;
    transition-delay:.05s
  }
  .hero-title-part em:last-child span:hover:after {
    opacity:1;
    transform:scale(1.05) rotate(-9deg)
  }
  .hero-title-part em:last-child span:not(:hover):after {
    transition-delay:.05s
  }
  .hero-title.-letter-init .hero-title-part:last-child span:nth-child(5):hover:after,
  .hero-title.-letter-init .hero-title-part:last-child span:nth-child(5):hover:before {
    transition-duration:.5s
  }
  .hero-title.-letter-init .hero-title-part:last-child span:nth-child(5):hover:after {
    filter:drop-shadow(0 0 17px rgb(253,16,87));
    transform:scale(1.05) rotate(-9deg)
  }
}
</style>

<script>
ScrollReveal({
  ///reset: true,
  distance: "180px",
  durationn: 2000,
  delay: 150,
});

ScrollReveal().reveal(".", { origin: "left" });
ScrollReveal().reveal(".", { origin: "right" });


</script>

