---
import Lysknap from "../components/Lysknap.astro";
---




<div class="container">
    
    <img src="kort1.svg" alt="" class="kort" id="kort">
    <div class="tekst" id="tekstkort">
    <h1>4 Areas around Copenhagen and 
        over 55 beautiful light installations</h1>
    <p>Artists have decorated the entire city, making the festival 
        larger and Copenhagen smaller. Our goal is to illuminate
        both the city center and local areas outside of it.</p>
        <div class="knap1">
<Lysknap />
</div>
</div>
</div>

<style>

          .knap1 {
                margin-top: 2.5rem;
                   display: flex;
    justify-content: center;
    align-items: center;
            
            }
   .container {
        display: flex;
        flex-direction: row; 
        align-items: center; 
        width: 100%; 
        box-sizing: border-box; 
        padding: 0rem 9% 2rem;
        gap: 7rem;
        margin-top: 3rem;
       
        
    }

    .kort {
         /* Make the image take up full width */
        max-width: 420px; /* Set a maximum width for the image */
        filter: drop-shadow(3px 2px 6px #FF00FF);
    }

    .tekst {

  
        text-align: center; /* Center align text */
        color: white;
        margin-top: 2rem; /* Adjust margin as needed */
    }

    .tekst h1 {
        font-size: 2.8rem; /* Adjust font size as needed */
        font-weight: 600;
        letter-spacing: -0.03em;
        line-height: 1;
        color: orange;
    }

    .tekst p {
        font-size: 1.5rem; /* Adjust font size as needed */
        font-weight: 500;
        letter-spacing: 0em;
        line-height: 1;
    }

      @media screen and (max-width: 1000x) {
           .kort {
            width:360px; 
           
        }
                .tekst h1 {
        font-size: 1.95rem; 
        font-weight: 600;
        letter-spacing: -0.03em;
        line-height: 1;
        color: orange;
    }

    .tekst p {
        font-size: 1.3rem; 
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 1;
    }
      }

    @media screen and (max-width: 768px) {
        
        .container {
            flex-direction: column; 
           margin-top: 4.5rem;
           justify-content: center;
           align-items: center;
        }

        .kort {
            width:320px; 
           
        }

        .tekst {
            margin-top: 0rem; 

           
          
            justify-content: center;
            
        
            
        }

            .tekst h1 {
        font-size: 1.83rem; 
        font-weight: 600;
        letter-spacing: -0.03em;
        line-height: 1;
        color: orange;
    }

    .tekst p {
        font-size: 1.15rem; /* Adjust font size as needed */
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 1;
       
    }
       .container {
     
        gap: 1rem;
    }
          .knap1 {
                margin-top: 1.5rem;
                   display: flex;
                   font-size: 1.25rem;
    justify-content: center;
    align-items: center;
            
            }

    }

  


</style>


