---
import Lysknap from "../components/Lysknap.astro";
---




<div class="container">

    
<svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 975.85 1034.5" width="975.8499755859375" height="1034.5">
  <defs>
    <style>
      .cls-1 {
        stroke-miterlimit: 10;
      }

      .cls-1, .cls-2 {
        fill: none;
        stroke: #f0f;
        stroke-width: 4.5px;
      }

      .cls-3 {
        filter: url(#drop-shadow-1);
      }

      .cls-2 {
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    </style>
    <filter id="drop-shadow-1" filterUnits="userSpaceOnUse">
      <feOffset dx="8" dy="8"></feOffset>
      <feGaussianBlur result="blur" stdDeviation="6"></feGaussianBlur>
      <feFlood flood-color="#fc8bd3" flood-opacity=".4"></feFlood>
      <feComposite in2="blur" operator="in"></feComposite>
      <feComposite in="SourceGraphic"></feComposite>
    </filter>
  </defs>
  <g id="Layer_1-2" data-name="Layer 1">
    <g class="cls-3">
      <path class="cls-2 svg-elem-1" d="m298.68,1032.02s33.18,3.32,48.67-15.49l263.21,7.86,98.48-68.69,2.21-44.24,2.21-34.29-2.21-33.18-5.53-23.23h22.49l103.6-28.76,7.74,9.95,42.03-13.27-16.59-21.02,46.46-15.49,5.53,5.53,43.14-9.95v-8.89l-6.64-3.27-25.44-28.76-2.21-15.49-27.65-67.47-1.11-29.86-12.17,5.53-4.42-13.27,14.38-2.21-14.38-26.55v-14.38l-18.8-23.23-34.29-73,18.8-24.33,53.09-34.29-13.27-23.23-25.44,12.17-5.53-6.64-36.5,25.44-2.21,15.49-1.11,16.59-12.17,4.42v15.49l4.42,3.32-1.11,6.64-8.85,9.95,3.32,14.38-14.38,13.27v11.06l-12.17,6.64.14,11.06h-9.37l-18.43,12.17v9.95l-12.17,2.21s-61.94,38.71-110.61-2.21l-22.12,24.33-26.55,36.5-46.46,103.97-36.5,79.64-1.11,13.27-65.26,57.52-15.49,15.49-37.61,53.09-29.86,43.14-44.24,58.62Z"></path>
      <polyline class="cls-2 svg-elem-2" points="712.45 558.71 730.06 595.12 753.29 629.41 768.77 654.85 780.94 686.92 787.58 715.68 809.68 798.15"></polyline>
      <path class="cls-2 svg-elem-3" d="m773.2,403.76l5.53-11.06s35.46,64.6-17.67,124.11c-53.12,59.51-127.23,31.85-127.23,31.85l8.85-8.85,7.74,9.95h5.53l6.64-4.42,6.64,6.64,13.27-6.64,7.74,4.42,4.42-2.21,4.42-12.17,12.98-2.02,7.98-9.04h15.13l8.15-12.17,13.27-2.21,2.21-13.27,12.17-6.64,1.11-13.27,8.85-7.74v-7.74l-2.21-2.21,1.11-9.95,3.32-2.21v-8.85l-3.32-8.85v-5.53l2.21-5.53-8.85-14.38Z"></path>
      <polyline class="cls-2 svg-elem-4" points="623.88 546.45 646.42 522.39 664.8 505.52 681.39 492.25 707.94 470.13 716.79 452.43 727.85 430.31 732.27 421.46 743.33 426.99 754.39 409.29 754.39 370.8 761.06 370.8 761.06 390.59 774.3 382.75 775.41 362.84 758.82 358.41 762.14 329.65 771.79 329.65 772.09 324.12 762.14 320.81 765.46 304.21 780.94 320.81 787.58 323.02 790.9 318.59 787.58 313.06 770.85 304.21 793.11 299.79 824.08 298.68 871.64 303.11 877.17 328.55 848.41 348.46 845.09 363.94 826.29 370.58 826.29 377.22 807.49 382.75 788.68 382.75 788.68 393.81 818.55 396.02"></polyline>
      <path class="cls-2 svg-elem-5" d="m756.61,471.23l7.74,7.74s14.69-32.08,10.67-56.41l-13.95-1.87-4.46,8.47,7.74,4.45s2.21,22.12-7.74,37.61Z"></path>
      <polygon class="cls-2 svg-elem-6" points="936.9 705.73 957.92 733.38 964.32 733.38 964.32 718.46 960.13 712.62 960.13 701.44 973.6 678.43 951.28 653.74 933.58 629.41 921.41 609.5 916.99 589.59 907.04 607.28 922.52 634.94 922.52 650.42 933.58 652.63 947.96 669.23 953.66 678.43 953.49 689.13 936.9 705.73"></polygon>
      <path class="cls-2 svg-elem-7" d="m907.04,570.47h20.69l-8.53-10.74-.26-4.64,6.89-11.95,13.27,6.64,4.42-8.85-7.74,1.11-7.74-5.53,2.21-4.42h11.74l5.96-8.85,3.32-15.49,11.06-8.85-14.38-33.18h-22.12l-6.64,21.02h-6.64l-8.85-4.42-8.85,9.95-4.42-4.42,5.53-11.06,1.11-6.64-2.21-6.64v-3.32l23.23-8.85-16.59-39.82s-43.14,22.12-53.09,36.5l24.33,57.52,19.17,18.8-5.9,8.85,5.53,7.74h13.27l7.74,14.38v4.42l-5.53,10.74Z"></path>
      <path class="cls-2 svg-elem-8" d="m105.12,514.37l-2.21-3.32-4.42-5.53,4.42-3.32-1.11-13.27-3.32-14.38-13.27-21.02s12.17-14.38,23.23-6.64,25.44,39.82,25.44,39.82h7.74l8.85-3.32,11.06-6.64,4.42,4.42-12.17,14.38v12.17l-5.61,6.64h-43.06l2.53,8.02h22.09l-.28,72.73-3.32,37.86v18.55l5.53,14.38,11.06,12.17,14.38,7.74,11.06,9.95,6.64,12.17,7.74,18.8,7.74,22.12,16.59,9.95,34.29,34.29,2.21,8.85,35.4,51.99,58.62-26.55,17.7,1.11,35.4,2.21,4.42,2.21-8.35,6.34v33.48h10.56l61.94-60.84-6.64-12.17h-16.59l1.11-23.23,15.49,3.32,16.59,14.38,38.71-53.09-2.21-1.11-8.85,8.85-29.86-17.7-5.53,18.8-6.64-3.32-2.21-11.06-4.42-9.95,1.11-11.06,8.85-12.17,8.85,5.53-5.53,11.06,34.29,19.91,25.44-35.4-1.11-6.64-43.14-18.8,4.42-8.85,42.03,21.02,26.55-51.99-3.32-2.21-24.33,4.42-1.11-7.74,27.65-4.42,14.38-28.76-11.06,7.74-7.74-4.42,47.56-44.24-39.82-55.3-7.74,5.53-7.74-12.17-23.23,13.27h-23.23l-.5,12.44-23.84-9.13-34.29,16.59-1.11,12.17-15.49-2.21-40.93,27.65,8.85,35.4-29.86,5.53,21.02,106.19h-49.77l21.02,34.29,19.91,21.02v21.02l-9.95,6.64v29.86"></path>
      <polyline class="cls-2 svg-elem-9" points="591.8 558.62 629.41 522.39 661.48 495.57 687.02 473.89 709.04 432.52 697.56 432.52 703.51 415.93 726.74 357.31 719 356.2 719 344.03 727.85 337.4 727.85 325.08 731.17 247.8 723.42 257.76 722.32 317.49 701.3 315.27 695.77 323.02 710.15 338.5 725.64 324.12 727.85 321.91"></polyline>
      <polygon class="cls-2 svg-elem-10" points="623.88 315.19 618.34 305.32 610.6 309.74 598.44 319.7 592.9 331.87 578.53 348.46 584.06 356.2 598.44 340.71 605.07 327.44 615.03 319.7 623.88 315.19"></polygon>
      <polygon class="cls-2 svg-elem-11" points="555.3 396.02 579.63 362.84 572.89 356.2 546.45 390.49 555.3 396.02"></polygon>
      <polygon class="cls-2 svg-elem-12" points="532.07 440.26 551.29 403.21 541.68 397.41 521.01 436.95 532.07 440.26"></polygon>
      <polygon class="cls-2 svg-elem-13" points="516.58 471.23 526.54 472.34 529.86 446.9 519.24 445.03 516.58 471.23"></polygon>
      <polygon class="cls-2 svg-elem-14" points="524.33 478.98 514.37 477.87 509.95 509.95 513.27 509.95 522.23 504.83 524.33 478.98"></polygon>
      <path class="cls-2 svg-elem-15" d="m519.24,445.03l-12.61-.34,6.31-14.15-10.73-12.4-16.59-4.42-18.8-3.32s-53.09-30.97-56.41-74.11c0,0,3.32-17.7,9.95-25.44h-17.02l-13.95,7.74-27.65,5.53s-35.4,21.02-57.52,43.14c0,0-54.2,15.49-74.11,37.61,0,0-37.61,29.86-34.29,65.26l-29.86,11.06"></path>
      <polyline class="cls-1 svg-elem-16" points="195.82 470.13 200.78 522.39 213.52 522.39 216.83 555.3 287.62 548.66 305.32 547.55 302 557.51 352.88 575.21 373.9 567.46"></polyline>
      <polyline class="cls-2 svg-elem-17" points="85.21 453.54 99.59 435.84 99.59 423.42 92.4 413.51 94.06 390.49 74.15 356.2 69.72 337.4 55.34 316.38 57.55 296.47 74.15 303.11 116.18 315.27 161.53 314.17 189.18 307.53 189.18 321.76 213.51 306.43 247.8 306.43 254.44 315.27 275.46 294.26 288.73 264.39 300.9 237.85 312.34 237.85 321.91 262.18 328.55 275.46 345.14 298.68 361.73 319.7 364.61 323.55"></polyline>
      <path class="cls-2 svg-elem-18" d="m572.89,356.2l-9.85-13.9-27.65-25.92,8.85-91.81-21.02,28.76-3.98-.4-3.76-12.87-6.64-32.08-9.95-25.44-19.91,13.27s-45.35,25.44-51.99,50.88-7.74,40.93-7.74,40.93l-15.91,23.23"></path>
      <polyline class="cls-2 svg-elem-19" points="618.34 305.32 626.09 300.9 632.72 313.06 690.24 286.52 691.35 307.53 695.58 313.06 695.77 323.02"></polyline>
      <path class="cls-2 svg-elem-20" d="m701.3,315.27l3.32-18.8,5.53-24.33,3.32-13.27-12.17,9.55-1.11-13.97,12.17-4.42,13.27-14.38h-14.79l-19.5,5.53-1.11-14.38,18.8-4.42,15.49-1.11,13.27,5.53-1.11-9.95-8.85-4.42-8.85-2.21,3.32-11.06,21.02,7.74,7.19,3.55-10.51-15.71-34.29-11.06,4.42-13.27,68.58,26.55,23.23-19.91-61.94-19.91-2.21,6.64-23.23-7.74,5.53-15.49,48.67,17.7,44.24,16.59,98.44-79.64-3.32-4.42-5.53,4.42h-4.42v-8.85l7.74-6.64-22.12-16.59-25.44,1.11s-40.93,3.32-53.09,36.5l-67.47-46.46-2.21,6.64,18.8,12.17-3.32,6.64-18.8-7.74-3.32,30.97,18.8,7.74-6.64,13.27-36.5-12.17-25.44,59.73,11.06,17.7-11.06,6.97-11.06-19.13,1.11-9.95,6.64-17.7-14.38,9.66-9.95-26.25,8.85-2.21,28.76-3.32-1.11-9.95-12.17,2.21-12.17,2.21-6.64,5.53h-8.85l-5.53-35.4-29.86-1.11v-21.33l-6.64-19.59-1.11-16.59-38.71-9.95-3.32-21.02h-8.36l-.48,14.38-13.27-1.11-7.74,70.79,8.85,8.85-5.53,8.85,12.17,13.27-49.77,65.26"></path>
      <path class="cls-2 svg-elem-21" d="m533.18,86.31h-50.08l-4.12,5.53-13.27,2.21-2.21-12.17-12.17-4.42-5.53,1.11-3.32,4.42h-15.49l-2.21-19.91-15.49-5.53-24.33-2.21h-17.79l-6.54,3.32s-33.18-18.8-47.56,11.06l-14.38,42.03s15.49,3.32,22.12-24.33l8.85-1.11-1.11,8.85,8.85,2.21v9.95l26.55-1.11,5.53-3.32-.76,8.97-4.11,2.09h-34.11l-7.49,1.11-2.21,13.27h-5.54l-1.1-9.95h-17.7v21.91l14.38,2.42-1.11,25.44-22.12,23.23,2.21,22.12v7.74l22.51,16.59"></path>
      <path class="cls-2 svg-elem-22" d="m296.47,118.39l-25.44,23.23-14.38-1.11-14.38,7.74-2.21,18.8-28.76,5.53-7.74,13.27h-20.72l-14.68,13.27-1.11-21.02,14.38-15.49,2.21-8.85,26.33-16.45,16.81,4.29,12.17-4.42-2.21-16.59h-16.59l-21.02-23.23-11.06,4.42-9.95-11.06-28.76-5.53-29.86,21.02v18.24l-24.33,12.73-34.29-1.11-7.74,11.06-25.44,8.85-3.32,23.23-22.12,16.59,3.32,44.24s11.06,37.61,50.88,37.61l1.11,18.8"></path>
      <path class="cls-2 svg-elem-23" d="m230.95,147.81c2.05-1,7.12-2.87,6.82,3.11-.15,3.01-3.24,5.03-6.08,4.01-2.67-.97-4.91-2.74-2.27-5.92.42-.5.94-.91,1.53-1.19Z"></path>
    </g>
  </g>
</svg>

    <div class="tekst">
    <h1>4 Areas around Copenhagen and 
        over 55 beautiful light installations</h1>
    <p>Artists have decorated the entire city, making the festival 
        larger and Copenhagen smaller. Our goal is to illuminate
        both the city center and local areas outside of it.</p>
<Lysknap />
</div>
</div>

<style>
   

    .container {
    display: flex;
    width: 1200px;   
    gap: 3em;
    padding: 7rem 7.6% 3rem;
    }

    #layer_2 {
        width: calc(35vw - 3.8px);
       
    }

    .kort:hover {
        scale: 1.008;
      
    }

  

  

    .tekst {
        color: white;
        margin-top: 21em;

    }

    .tekst h1 {
        font-size:calc(3.5vw - 3.8px);
    font-weight:600;
    letter-spacing:-.03em;
    line-height:1;
    color:#FBF29D;
    }
       .tekst p {
    font-size:calc(1.8vw - 3.8px);
    font-weight:500;
    letter-spacing:0em;
    line-height:1;
    }



@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 2381.97509765625px;
    stroke-dasharray: 2381.97509765625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2381.97509765625px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 2381.97509765625px;
    stroke-dasharray: 2381.97509765625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2381.97509765625px;
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
          animation: animate-svg-stroke-1 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 262.84033203125px;
    stroke-dasharray: 262.84033203125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 262.84033203125px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 262.84033203125px;
    stroke-dasharray: 262.84033203125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 262.84033203125px;
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both;
          animation: animate-svg-stroke-2 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 568.7255859375px;
    stroke-dasharray: 568.7255859375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 568.7255859375px;
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 568.7255859375px;
    stroke-dasharray: 568.7255859375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 568.7255859375px;
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both;
          animation: animate-svg-stroke-3 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 737.271728515625px;
    stroke-dasharray: 737.271728515625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 737.271728515625px;
  }
}

@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 737.271728515625px;
    stroke-dasharray: 737.271728515625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 737.271728515625px;
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-stroke-4 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both;
          animation: animate-svg-stroke-4 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both;
}

@-webkit-keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 142.64852905273438px;
    stroke-dasharray: 142.64852905273438px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 142.64852905273438px;
  }
}

@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 142.64852905273438px;
    stroke-dasharray: 142.64852905273438px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 142.64852905273438px;
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-stroke-5 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both;
          animation: animate-svg-stroke-5 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both;
}

@-webkit-keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 355.8902893066406px;
    stroke-dasharray: 355.8902893066406px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 355.8902893066406px;
  }
}

@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 355.8902893066406px;
    stroke-dasharray: 355.8902893066406px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 355.8902893066406px;
  }
}

.svg-elem-6 {
  -webkit-animation: animate-svg-stroke-6 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both;
          animation: animate-svg-stroke-6 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both;
}

@-webkit-keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 588.489990234375px;
    stroke-dasharray: 588.489990234375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 588.489990234375px;
  }
}

@keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 588.489990234375px;
    stroke-dasharray: 588.489990234375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 588.489990234375px;
  }
}

.svg-elem-7 {
  -webkit-animation: animate-svg-stroke-7 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both;
          animation: animate-svg-stroke-7 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both;
}

@-webkit-keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 2342.64453125px;
    stroke-dasharray: 2342.64453125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2342.64453125px;
  }
}

@keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 2342.64453125px;
    stroke-dasharray: 2342.64453125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2342.64453125px;
  }
}

.svg-elem-8 {
  -webkit-animation: animate-svg-stroke-8 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s both;
          animation: animate-svg-stroke-8 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s both;
}

@-webkit-keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 537.680419921875px;
    stroke-dasharray: 537.680419921875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 537.680419921875px;
  }
}

@keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 537.680419921875px;
    stroke-dasharray: 537.680419921875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 537.680419921875px;
  }
}

.svg-elem-9 {
  -webkit-animation: animate-svg-stroke-9 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s both;
          animation: animate-svg-stroke-9 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s both;
}

@-webkit-keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 141.29910278320312px;
    stroke-dasharray: 141.29910278320312px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 141.29910278320312px;
  }
}

@keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 141.29910278320312px;
    stroke-dasharray: 141.29910278320312px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 141.29910278320312px;
  }
}

.svg-elem-10 {
  -webkit-animation: animate-svg-stroke-10 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s both;
          animation: animate-svg-stroke-10 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s both;
}

@-webkit-keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 106.34123229980469px;
    stroke-dasharray: 106.34123229980469px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 106.34123229980469px;
  }
}

@keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 106.34123229980469px;
    stroke-dasharray: 106.34123229980469px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 106.34123229980469px;
  }
}

.svg-elem-11 {
  -webkit-animation: animate-svg-stroke-11 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s both;
          animation: animate-svg-stroke-11 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s both;
}

@-webkit-keyframes animate-svg-stroke-12 {
  0% {
    stroke-dashoffset: 111.12470245361328px;
    stroke-dasharray: 111.12470245361328px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 111.12470245361328px;
  }
}

@keyframes animate-svg-stroke-12 {
  0% {
    stroke-dashoffset: 111.12470245361328px;
    stroke-dasharray: 111.12470245361328px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 111.12470245361328px;
  }
}

.svg-elem-12 {
  -webkit-animation: animate-svg-stroke-12 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s both;
          animation: animate-svg-stroke-12 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s both;
}

@-webkit-keyframes animate-svg-stroke-13 {
  0% {
    stroke-dashoffset: 74.79541015625px;
    stroke-dasharray: 74.79541015625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 74.79541015625px;
  }
}

@keyframes animate-svg-stroke-13 {
  0% {
    stroke-dashoffset: 74.79541015625px;
    stroke-dasharray: 74.79541015625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 74.79541015625px;
  }
}

.svg-elem-13 {
  -webkit-animation: animate-svg-stroke-13 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s both;
          animation: animate-svg-stroke-13 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s both;
}

@-webkit-keyframes animate-svg-stroke-14 {
  0% {
    stroke-dashoffset: 83.97957611083984px;
    stroke-dasharray: 83.97957611083984px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 83.97957611083984px;
  }
}

@keyframes animate-svg-stroke-14 {
  0% {
    stroke-dashoffset: 83.97957611083984px;
    stroke-dasharray: 83.97957611083984px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 83.97957611083984px;
  }
}

.svg-elem-14 {
  -webkit-animation: animate-svg-stroke-14 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s both;
          animation: animate-svg-stroke-14 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s both;
}

@-webkit-keyframes animate-svg-stroke-15 {
  0% {
    stroke-dashoffset: 532.1170043945312px;
    stroke-dasharray: 532.1170043945312px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 532.1170043945312px;
  }
}

@keyframes animate-svg-stroke-15 {
  0% {
    stroke-dashoffset: 532.1170043945312px;
    stroke-dasharray: 532.1170043945312px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 532.1170043945312px;
  }
}

.svg-elem-15 {
  -webkit-animation: animate-svg-stroke-15 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s both;
          animation: animate-svg-stroke-15 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s both;
}

@-webkit-keyframes animate-svg-stroke-16 {
  0% {
    stroke-dashoffset: 275.9191589355469px;
    stroke-dasharray: 275.9191589355469px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 275.9191589355469px;
  }
}

@keyframes animate-svg-stroke-16 {
  0% {
    stroke-dashoffset: 275.9191589355469px;
    stroke-dasharray: 275.9191589355469px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 275.9191589355469px;
  }
}

.svg-elem-16 {
  -webkit-animation: animate-svg-stroke-16 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7999999999999998s both;
          animation: animate-svg-stroke-16 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7999999999999998s both;
}

@-webkit-keyframes animate-svg-stroke-17 {
  0% {
    stroke-dashoffset: 604.9373168945312px;
    stroke-dasharray: 604.9373168945312px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 604.9373168945312px;
  }
}

@keyframes animate-svg-stroke-17 {
  0% {
    stroke-dashoffset: 604.9373168945312px;
    stroke-dasharray: 604.9373168945312px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 604.9373168945312px;
  }
}

.svg-elem-17 {
  -webkit-animation: animate-svg-stroke-17 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.92s both;
          animation: animate-svg-stroke-17 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.92s both;
}

@-webkit-keyframes animate-svg-stroke-18 {
  0% {
    stroke-dashoffset: 430.28118896484375px;
    stroke-dasharray: 430.28118896484375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 430.28118896484375px;
  }
}

@keyframes animate-svg-stroke-18 {
  0% {
    stroke-dashoffset: 430.28118896484375px;
    stroke-dasharray: 430.28118896484375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 430.28118896484375px;
  }
}

.svg-elem-18 {
  -webkit-animation: animate-svg-stroke-18 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.04s both;
          animation: animate-svg-stroke-18 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.04s both;
}

@-webkit-keyframes animate-svg-stroke-19 {
  0% {
    stroke-dashoffset: 126.08290100097656px;
    stroke-dasharray: 126.08290100097656px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 126.08290100097656px;
  }
}

@keyframes animate-svg-stroke-19 {
  0% {
    stroke-dashoffset: 126.08290100097656px;
    stroke-dasharray: 126.08290100097656px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 126.08290100097656px;
  }
}

.svg-elem-19 {
  -webkit-animation: animate-svg-stroke-19 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.16s both;
          animation: animate-svg-stroke-19 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.16s both;
}

@-webkit-keyframes animate-svg-stroke-20 {
  0% {
    stroke-dashoffset: 1905.472900390625px;
    stroke-dasharray: 1905.472900390625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1905.472900390625px;
  }
}

@keyframes animate-svg-stroke-20 {
  0% {
    stroke-dashoffset: 1905.472900390625px;
    stroke-dasharray: 1905.472900390625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1905.472900390625px;
  }
}

.svg-elem-20 {
  -webkit-animation: animate-svg-stroke-20 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.28s both;
          animation: animate-svg-stroke-20 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.28s both;
}

@-webkit-keyframes animate-svg-stroke-21 {
  0% {
    stroke-dashoffset: 670.1842651367188px;
    stroke-dasharray: 670.1842651367188px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 670.1842651367188px;
  }
}

@keyframes animate-svg-stroke-21 {
  0% {
    stroke-dashoffset: 670.1842651367188px;
    stroke-dasharray: 670.1842651367188px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 670.1842651367188px;
  }
}

.svg-elem-21 {
  -webkit-animation: animate-svg-stroke-21 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s both;
          animation: animate-svg-stroke-21 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s both;
}

@-webkit-keyframes animate-svg-stroke-22 {
  0% {
    stroke-dashoffset: 743.7091674804688px;
    stroke-dasharray: 743.7091674804688px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 743.7091674804688px;
  }
}

@keyframes animate-svg-stroke-22 {
  0% {
    stroke-dashoffset: 743.7091674804688px;
    stroke-dasharray: 743.7091674804688px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 743.7091674804688px;
  }
}

.svg-elem-22 {
  -webkit-animation: animate-svg-stroke-22 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.52s both;
          animation: animate-svg-stroke-22 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.52s both;
}

@-webkit-keyframes animate-svg-stroke-23 {
  0% {
    stroke-dashoffset: 30.37801742553711px;
    stroke-dasharray: 30.37801742553711px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 30.37801742553711px;
  }
}

@keyframes animate-svg-stroke-23 {
  0% {
    stroke-dashoffset: 30.37801742553711px;
    stroke-dasharray: 30.37801742553711px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 30.37801742553711px;
  }
}

.svg-elem-23 {
  -webkit-animation: animate-svg-stroke-23 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6399999999999997s both;
          animation: animate-svg-stroke-23 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6399999999999997s both;
}


</style>


